<mat-form-field
  [ngClass]="(!form.valid && submitted) ? 'invalid-field' : ''"
  appearance="outline"
  class="border-white">

  <mat-label *ngIf="label">
    <img
      *ngIf="icon"
      class="outline-field-label-icon"
      [src]="icon"
      [ngClass]="(!form.valid && submitted) ? 'invalid-icon' : ''">
    <span *ngIf="label">
      {{label}}
    </span>
  </mat-label>

  <input
    matInput
    [(ngModel)]="value"/>

</mat-form-field>

<span *ngIf="!form.valid && submitted" class="form-error">
  {{ errorMessage }}
</span>
