<mat-form-field
  [class.invalid-field]="!form.valid && submitted"
  [class.no-border]="noBorder"
  appearance="outline">

  <mat-label *ngIf="label">
    <img *ngIf="icon" class="outline-field-label-icon" [src]="icon">
    <span *ngIf="label" [ngClass]="{ focused: focused }">{{ label }}</span>
  </mat-label>

  <input
    *ngIf="!inputMask"
    matInput
    #neurotypicalInput
    (keydown)="changeTouch()"
    (keyup)="keyUpHandle($event)"
    [(ngModel)]="value"
    [attr.inputMode]="inputMode"
    (focus)="setFocused(true)"
    (focusout)="setFocused(false)"/>

  <input
    *ngIf="inputMask"
    [attr.maxlength]="inputMask.maxLength"
    matInput
    #maskedInput
    [class.offset-content]="inputMask?.additionalCharacter && !isInputEmpty"
    (keydown)="changeTouch()"
    [(ngModel)]="value"
    (keyup)="keyUpHandle($event)"
    [attr.inputMode]="inputMode"
    (focus)="setFocused(true)"
    (focusout)="setFocused(false)"/>

  <span class="additional-character" *ngIf="inputMask?.additionalCharacter && !isInputEmpty">
    {{ inputMask?.additionalCharacter }}
  </span>
</mat-form-field>

<span *ngIf="!form.valid && submitted">
  {{ errorMessage }}
</span>
