
mat-form-field {
  width: 100%;

  .mat-form-field-outline {
    color: white !important;
  }
  .mat-form-field-label {
    color: white !important;
    font: Avenir, serif !important;
    font-weight: 300 !important;
  }
}

input {
  font: 16px Avenir, serif !important;
  font-weight: 300 !important;
  color: white !important;
}

.outline-field-label-icon{
  height: 16px;
  width: 16px;
  margin-right: 5px;
  margin-bottom: -3px;
}


  .offset-content {
    padding-left: 15px;
  }

  mat-icon {
    background-size: contain;
  }

  .mat-form-field-prefix,
  .mat-form-field-suffix {
    padding-left: 10px;
  }

  .additional-character {
    position: absolute;
    bottom: 8px;
    left: 1px;
  }
