tao-button {

  display: block;

  .text {
    display: inline;
    font: 18px Avenir, serif;
    font-weight: 330;
    color: black;
  }

  .wrapper {
    position: relative;
  }

  [disabled] {
    opacity: 0.5;
  }

  loading-indicator {
    margin-left: 10px;
    color: white;
    width: 20px;
    height: 33px;
  }

  button {
    height:50px;
    padding: 5px 5px !important;
    display: block;
    width: 100%;
    white-space: normal !important;
    line-height: normal !important;
  }

  &.primary {
    button {
      background: #EE9DD3 !important;
      animation: fadeIn 5s;
    }
  }

  &.primary:hover{
    button{
      opacity:90% !important;
    }
  }

  &.secondary{
    button{
      background: white !important;
    }
  }

  &.secondary:hover {
    button{
      opacity:90% !important;
    }
  }

  .loader {
    height: 20px;
    background-repeat: no-repeat;
    background-image: linear-gradient(#FFF 50px, transparent 0),
                      linear-gradient(#FFF 50px, transparent 0),
                      linear-gradient(#FFF 50px, transparent 0),
                      linear-gradient(#FFF 50px, transparent 0),
                      linear-gradient(#FFF 50px, transparent 0),
                      linear-gradient(#FFF 50px, transparent 0);
    background-position: 205px center, 220px center, 235px center, 250px center, 265px center, 280px center, 295px center;
    animation: rikSpikeRoll 0.65s linear infinite alternate;
  }

  @keyframes rikSpikeRoll {
    0% { background-size: 10px 3px;}
    16% { background-size: 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px, 10px 3px}
    33% { background-size: 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px}
    50% { background-size: 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px}
    66% { background-size: 10px 3px, 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px}
    83% { background-size: 10px 3px, 10px 3px,  10px 10px, 10px 30px, 10px 50px, 10px 3px}
    100% { background-size: 10px 3px, 10px 3px, 10px 3px,  10px 10px, 10px 30px, 10px 50px}
  }

  &.fade-in-button {
    animation-name: FadeIn;
    animation-duration: 3s;
    transition-timing-function: linear;
  }

  @keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-moz-keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-o-keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-ms-keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

}
