@import "src/components/style-variables";

tao-button {

  display: block;

  .button-text {
    display: inline;
    font: 18px Avenir, serif;
    font-weight: 330;
    color: black;
  }

  .wrapper{
    position: relative;
  }
  [disabled]{
    opacity: 0.5;
  }
  loading-indicator{
    margin-left: 10px;
    color: white;
    width: 20px;
    height: 33px;
  }
  button{
    height:50px;
    padding: 5px 5px !important;
    display: block;
    width: 100%;
    white-space: normal !important;
    line-height: normal !important;
  }
  span{
    font-family: $default-font !important;
    text-align: center !important;
    display: block;
    padding: 5px 0;
  }

  tao-text {
    span {
      color: white !important;
    }
  }

  &.primary{
    button{
      background: #EE9DD3 !important;
      animation: fadeIn 5s;
    }
  }

  &.primary:hover{
    button{
      opacity:90% !important;
    }
  }

  &.secondary{
    button{
      background: white !important;
    }
  }

  &.secondary:hover{
    button{
      opacity:90% !important;
    }
  }

  &.no-padding{
    button{
      padding: 0px 0px !important;
      display: '';
      width: '';
      background: #41CAB7 !important;
    }
  }

  .loader {
    height: 20px;
    background-repeat: no-repeat;
    background-image: linear-gradient(#FFF 50px, transparent 0),
                      linear-gradient(#FFF 50px, transparent 0),
                      linear-gradient(#FFF 50px, transparent 0),
                      linear-gradient(#FFF 50px, transparent 0),
                      linear-gradient(#FFF 50px, transparent 0),
                      linear-gradient(#FFF 50px, transparent 0);
    background-position: 205px center, 220px center, 235px center, 250px center, 265px center, 280px center, 295px center;
    animation: rikSpikeRoll 0.65s linear infinite alternate;
  }

  @keyframes rikSpikeRoll {
    0% { background-size: 10px 3px;}
    16% { background-size: 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px, 10px 3px}
    33% { background-size: 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px}
    50% { background-size: 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px}
    66% { background-size: 10px 3px, 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px}
    83% { background-size: 10px 3px, 10px 3px,  10px 10px, 10px 30px, 10px 50px, 10px 3px}
    100% { background-size: 10px 3px, 10px 3px, 10px 3px,  10px 10px, 10px 30px, 10px 50px}
  }

}
