<tao-nav
  [title]="'Balance'">
</tao-nav>

<tao-wrapper>

  <div *ngIf="!isLoading">
    <tao-row class="vertical-align-middle">
      <img [src]="'assets/images/bitcoin-button-white.svg'" class="large-icon">
      <tao-text
        [hero]="'0.0002'">
      </tao-text>
    </tao-row>

    <tao-row class="vertical-align-middle">
      <img [src]="'assets/images/dollar-button-white.svg'" class="large-icon">
      <tao-text
        [hero]="'$13'">
      </tao-text>
      <tao-skeleton
        [height]="50">
      </tao-skeleton>
    </tao-row>
  </div>

  <div *ngIf="isLoading">
    <tao-skeleton
      [height]="50">
    </tao-skeleton>

    <tao-skeleton
      [height]="50">
    </tao-skeleton>
  </div>

  <tao-divider>
  </tao-divider>

  <tao-row class="text-center">
    <tao-text
      [header]="'Welcome to Tao Wallet!'">
    </tao-text>
  </tao-row>

  <tao-row class="text-center">
    <tao-text
      [body]="'There are minimal features for now but join our '">
    </tao-text>
    <tao-text
      [link]="'Telegram'"
      (action)="goToTelegram()">
    </tao-text>
    <tao-text
      [body]="' or '">
    </tao-text>
    <tao-text
      [link]="'Discord'"
      (action)="goToTelegram()">
    </tao-text>
    <tao-text
      [body]="' to help build more.'">
    </tao-text>
  </tao-row>

</tao-wrapper>
