<tao-nav
  [title]="'Deposit Bitcoin'"
  [showBackButton]="true">
</tao-nav>

<form [formGroup]="form" novalidate action="#">
  <tao-wrapper>

    <tao-row class="align-center">
      <tao-text
        [header]="'How do you want to deposit Bitcoin?'">
      </tao-text>
    </tao-row>

    <tao-row class="align-center">
      <a (click)="selectType('bolt11')">
        <img
          [src]="'assets/images/Lightning.svg'"
          class="hero-icon margin-right-40"
          [ngClass]="type == 'bolt11' ? 'selected-icon' : ''">
      </a>
      <a (click)="selectType('on-chain')">
        <img
          [src]="'assets/images/on-chain.svg'"
          class="hero-icon"
          [ngClass]="type == 'on-chain' ? 'selected-icon' : ''">
      </a>
    </tao-row>

    <tao-input
      *ngIf="type == 'bolt11'"
      formControlName="amountSats"
      [form]="form.controls['amountSats']"
      [label]="'Invoice amount in sats (ex: 50000)'"
      [icon]="'assets/images/bitcoin.svg'"
      [errorMessage]="'Please enter the amount'"
      [submitted]="submitted">
    </tao-input>

    <tao-button
      *ngIf="type"
      [text]="type == 'bolt11' ? 'Generate Lightning Invoice' : 'Generate On Chain Address'"
      class="primary"
      [action]="fetchAddress.bind(this)">
    </tao-button>

  </tao-wrapper>
</form>
