@import "src/components/style-variables";

tao-wrapper {
  display: block;
  margin: auto;
}

.desktop {
  height: 80%;
  width: 400px;
  background: black;
  padding: 80px 20px 20px 20px;
  margin-top: -50px;
}

.mobile {
  width: 100%;
}
