<tao-nav
  [title]="'Withdraw Bitcoin'"
  [showBackButton]="true">
</tao-nav>

<form [formGroup]="form" novalidate action="#">
  <tao-wrapper>

    <tao-row class="align-center">
      <tao-text
        [header]="'How do you want to withdraw Bitcoin?'">
      </tao-text>
    </tao-row>

    <tao-row class="align-center">
      <a (click)="selectType('bolt11')">
        <img
          [src]="'assets/images/Lightning.svg'"
          class="hero-icon margin-right-40"
          [ngClass]="type == 'bolt11' ? 'selected-icon' : ''">
      </a>
      <a (click)="selectType('on-chain')">
        <img
          [src]="'assets/images/on-chain.svg'"
          class="hero-icon"
          [ngClass]="type == 'on-chain' ? 'selected-icon' : ''">
      </a>
    </tao-row>

    <div *ngIf="type">
      <tao-input
        formControlName="address"
        [form]="form.controls['address']"
        [label]="type == 'on-chain' ? 'On chain address' : 'Lightning invoice'"
        [icon]="type == 'on-chain' ? 'assets/images/on-chain.svg' : 'assets/images/Lightning.svg'"
        [errorMessage]="type == 'on-chain' ? 'Please enter the on chain address' : 'Please enter the Lightning invoice'"
        [submitted]="submitted">
      </tao-input>

      <tao-input
        *ngIf="type == 'on-chain'"
        formControlName="amountSats"
        [form]="form.controls['amountSats']"
        [label]="'Amount in sats to withdraw (ex: 50000)'"
        [icon]="'assets/images/bitcoin.svg'"
        [errorMessage]="'Please enter the amount'"
        [submitted]="submitted">
      </tao-input>

      <tao-button
        [text]="type == 'bolt11' ? 'Send Bitcoin' : 'Send Bitcoin'"
        class="primary"
        [action]="sendBitcoin.bind(this)">
      </tao-button>
    </div>

  </tao-wrapper>
</form>
