@import "src/components/style-variables.scss";

mat-label {
  display: inline-flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

mat-form-field:not(.mat-form-field-has-label){
  .mat-form-field-infix {
    border-top-width: 3px;
  }
}

.mat-form-field-appearance-outline
  .mat-form-field-flex
  .mat-form-field-outline-thick {
  color: #808080;
}

.outline-field-label-icon{
  height: 16px;
  width: 16px;
}

.mat-form-field-appearance-outline.mat-focused:not(.invalid-field) {
  .mat-form-field-outline {
    color: $color-green;
  }
  .mat-form-field-label-wrapper {
    filter: invert(68%) sepia(6%) saturate(3513%) hue-rotate(122deg)
      brightness(97%) contrast(105%);
  }
}

.invalid-field {
  &.mat-form-field-appearance-outline
    .mat-form-field-flex
    .mat-form-field-outline-thick,
  &.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline,
  &.mat-form-field-appearance-outline .mat-form-field-outline {
    color: red;
  }
  .mat-form-field-label-wrapper {
    filter: invert(22%) sepia(75%) saturate(6546%) hue-rotate(355deg)
      brightness(99%) contrast(123%);
  }
}

mat-form-field {
  width: 100%;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  border: 0;
}

.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.mat-form-field-underline {
  bottom: 0 !important;
}

.no-border {
  &.mat-form-field.mat-focused .mat-form-field-ripple,
  &.mat-form-field-underline,
  &.mat-form-field-appearance-legacy .mat-form-field-underline {
    display: none;
    background-color: transparent !important;
  }
}

.invalid-field {
  .mat-form-field.mat-focused .mat-form-field-label,
  span .body-inline,
  ion-icon,
  &.mat-form-field.mat-focused .mat-form-field-label ion-icon {
    color: red !important;
  }

  &.mat-form-field.mat-focused .mat-form-field-ripple,
  &.mat-form-field-underline,
  &.mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: red !important;
  }

  &.alert-error {
    font-size: 11px;
    margin-top: 10px;
    color: red;
    font-family: $default-font;
  }
}

.mat-form-field.mat-focused .mat-form-field-label {
  span,
  ion-icon {
    color: $color-green !important;
  }
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: $color-black !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: $color-green !important;
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: $color-black !important;
}

error-message {
  margin-top: 5px;
}
