$title-font: 700 24px Neuton, serif;
$header-font: 700 20px Neuton, serif;
$secondary-font: Neuton, serif;
$default-font: "Helvetica Neue", Arial, sans-serif;
$color-title-black: #000000;
$color-text-black: #333333;
$color-green: #41CAB7;
$color-ripple-green: #D3EBE3;
$color-grey: #434343;
$color-red: #EB5757;
$color-light-green: #BFE4E1;
$color-white: #ffffff;
$color-black: rgba(0, 0, 0, 0.87);
$color-green-link: #00AABA;
$color-label: rgba(0, 0, 0, 0.539261);
