.app-background {
  background-color: #212121;
}

.large-icon {
  width: 50px;
  margin-right: 20px !important;
}

.large-right-arrow {
  height: 40px;
}

.link {
  cursor: pointer;
  &:hover {
    filter: brightness(0) saturate(100%) invert(96%) sepia(45%) saturate(5035%) hue-rotate(277deg) brightness(95%) contrast(97%);
  }
}

.hero-icon {
  width: 30%;
  cursor: pointer;
  &:hover {
    filter: brightness(0) saturate(100%) invert(96%) sepia(45%) saturate(5035%) hue-rotate(277deg) brightness(95%) contrast(97%);
  }
}

.selected-icon {
  filter: brightness(0) saturate(100%) invert(96%) sepia(45%) saturate(5035%) hue-rotate(277deg) brightness(95%) contrast(97%);
}

.margin-right-40 {
  margin-right: 40px;
}

.link {
  font: 12px Avenir, serif;
  color: white;
  cursor: pointer;
}

.link:hover {
  cursor: pointer;
  opacity: 70%
}

body::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}
