<ng-container *ngIf="navLocation == 'top'">

  <div class="desktop-nav-container">
    <a (click)="goToPage('/')">
      <img src="assets/images/tao-t-black.svg" class="desktop-tao-logo">
    </a>
    <div class="desktop-padding" *ngIf="!hideMenuButtons">
      <a (click)="goToPage('dashboard')" class="margin-left-70">
        <img
          [src]="currentPage == '/dashboard' ?
          'assets/images/menu-icons/dashboard-pink.svg' :
          'assets/images/menu-icons/dashboard-white.svg'"
          class="menu-item margin-right-80 fade-in-button">
      </a>
      <a (click)="goToPage('send-receive')">
        <img
          [src]="currentPage == '/send-receive' ?
          'assets/images/menu-icons/send-bitcoin-pink.svg' :
          'assets/images/menu-icons/send-bitcoin-white.svg'"
          class="menu-item margin-right-80 fade-in-button">
      </a>
      <a (click)="goToPage('swap')">
        <img
          [src]="currentPage == '/swap' ?
          'assets/images/menu-icons/bitcoin-swap-pink.svg' :
          'assets/images/menu-icons/bitcoin-swap-white.svg'"
          class="menu-item margin-right-80 fade-in-button">
      </a>
      <a (click)="goToPage('settings')">
        <img
          [src]="currentPage == '/settings' ?
          'assets/images/menu-icons/settings-pink.svg' :
          'assets/images/menu-icons/settings-white.svg'"
          class="menu-item margin-right-80 fade-in-button">
      </a>
    </div>
  </div>

  <div class="desktop-title-container">
    <span *ngIf="title" class="desktop-title">
      {{title}}
    </span>
  </div>

  <div class="desktop-back-button-container">
    <a
      *ngIf="showBackButton"
      (click)="goBack()"
      [ngClass]="showBackButton ?
      '' :
      'dont-display'"
      class="desktop-back-button">
      <img
        src="assets/images/left-arrow-white.svg"
        class="desktop-back-button-image">
    </a>
  </div>

</ng-container>

<ng-container *ngIf="navLocation == 'bottom'">
  
  <div class="mobile-nav-container" *ngIf="!hideMenuButtons">
    <div class="margin-top-15">
      <a (click)="goToPage('dashboard')" class="margin-right-8">
        <img
          [src]="currentPage == '/dashboard' ?
          'assets/images/menu-icons/dashboard-pink.svg' :
          'assets/images/menu-icons/dashboard-white.svg'"
          class="bottom-menu-item">
      </a>
      <a (click)="goToPage('send-receive')" class="margin-left-8 margin-right-8">
        <img
          [src]="currentPage == '/send-receive' ?
          'assets/images/menu-icons/send-bitcoin-pink.svg' :
          'assets/images/menu-icons/send-bitcoin-white.svg'"
          class="bottom-menu-item">
      </a>
      <a (click)="goToPage('swap')" class="margin-left-8 margin-right-8">
        <img
          [src]="currentPage == '/swap' ?
          'assets/images/menu-icons/bitcoin-swap-pink.svg' :
          'assets/images/menu-icons/bitcoin-swap-white.svg'"
          class="bottom-menu-item">
      </a>
      <a (click)="goToPage('settings')" class="margin-left-8">
        <img
          [src]="currentPage == '/settings' ?
          'assets/images/menu-icons/settings-pink.svg' :
          'assets/images/menu-icons/settings-white.svg'"
          class="bottom-menu-item">
      </a>
    </div>
  </div>

  <div class="mobile-title-container">
    <a (click)="goToPage('/')"
      *ngIf="!showBackButton">
      <img src="assets/images/tao-t-black.svg" class="mobile-tao-logo"></a>
    <div class="mobile-title-margin">
      <span *ngIf="title" class="mobile-title">
        {{title}}
      </span>
    </div>
    <a
      (click)="goBack()"
      *ngIf="showBackButton"
      [ngClass]="showBackButton ? '' : 'dont-display'"
      class="mobile-back-button">
      <img class="mobile-back-button-icon" src="assets/images/left-arrow-white.svg"></a>
  </div>

</ng-container>
